.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

.terraform/
terraform.tfstate.d/
terraform.tfstate
.idea
*.iml
.chef/

Gemfile
Gemfile.lock

.DS_Store

*/cleanup/*